.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  margin: auto;
  
  }

.App-link {
  color: #61dafb;
}

.App div {
  margin-top: 100px;
}

.App button {
  margin-top: 200px;
}
